.courses-container {
  margin: 0;

  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

  overflow: hidden;

  background-color: #010f1f;
  color: white;
  margin: 35px 35px 35px 55px;
}

.title {
  font-size: 25px;
  font-weight: bold;
  align-items: center;
  align-self: flex-end;
  margin-bottom: 20px;
}

.courses-list {
  font-size: 25px;
  font-weight: bold;
  align-items: center;
}

.course-description {
  font-size: 25px;
  font-weight: bold;
  align-items: center;
}

.learning-language {
  font-size: 30px;
  color: #fad220;
}

.options-icon {
  fill: #fff;
  height: 20px;
}
