:root {
  --yellow-filter: invert(95%) sepia(39%) saturate(5929%) hue-rotate(336deg)
    brightness(107%) contrast(99%);

  --purple-filter: invert(50%) sepia(72%) saturate(4644%) hue-rotate(230deg)
    brightness(97%) contrast(98%);

  --green-filter: invert(68%) sepia(46%) saturate(3275%) hue-rotate(92deg)
    brightness(98%) contrast(97%);

  --pink-filter: invert(44%) sepia(43%) saturate(6531%) hue-rotate(270deg)
    brightness(104%) contrast(103%);
}

.course-container {
  margin: 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

  background-color: #010f1f;
  color: white;
  overflow: hidden;
}

.course-goals {
  width: 100%;
  /* margin-top: 5%; */

  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  padding-top: 125px;
}

.goals-container {
  /* margin: 10% 20% 10% 20%; */
  min-height: 300px;
  background: linear-gradient(89.6deg, #cb426a 0.3%, #0076fd 99.65%);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 5px;

  margin-top: 0;
  padding-top: 0;
  padding-left: 75px;

  display: flex;
}

#goals-title-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-end;

  margin-bottom: 0;
  padding-bottom: 0;
}

#goals-icon {
  background-image: url("../assets/icons/aboutcourse-icons/mission.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 150px 150px;

  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg)
    brightness(102%) contrast(102%);
}

#goals-title {
  margin: 0 0 0 -60px;
  padding: 0 0 0 0;
  z-index: 1;
}

.goals-list {
  flex: 1;
  z-index: 1;

  display: flex;
  flex-direction: column;
  justify-content: center;

  padding-right: 35px;
  margin-right: 35px;
}

.goal {
  padding-top: 5px;
  padding-bottom: 5px;
}

/* !---------------- COURSE STRUCTURE ----------------!  */
.curriculum {
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  width: 100%;
  padding-top: 125px;
  padding-left: 75px;
  padding-right: 35px;
}

#curriculum-title {
  flex: 1;
  color: #fb6468;
}

.module-list {
  flex: 11;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-right: 115px;
}
