.filter {
  /* Эта история адоптирована под разные уровни : ) Поменять с А2 на другой? */

  display: flex;
  flex-direction: column;

  margin-bottom: 25px;
}

.filter * {
  font-size: 16px;
  font-weight: bold;
}

.inactive {
  display: none;
}

.filter-text {
  font-size: 18px;
  color: #00ffdb;
  padding: 0rem 0rem 10px 0rem;
}

.filter-icon {
  height: 18px;
  /* font-size: 16px; */
  margin-right: 10px;
}

.filter-criterias {
  margin-left: 35px;
}

.filter-criterias.active {
  display: flex;
  flex-direction: column;
}

.criteria {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.criteria-icon {
  height: 8px;
  margin-right: 20px;
}

.criteria-text {
}

.options {
  display: flex;
  flex-direction: row;
  margin-left: 20px;
}
