.sidebar {
  z-index: 3;
  display: flex;
  flex-direction: column;
  /* justify-content: space-around; */
  align-items: flex-start;
  padding-left: 20px;

  position: sticky;
  top: 0;
  width: 45px;
  height: 100vh;

  transition: width 0.3s ease;
  cursor: pointer;

  background-color: #010f1f;
  box-shadow: 4px 7px 10px rgba(0, 0, 0, 0.4);
  color: #fff;
}

.sidebar:hover {
  width: 180px;
}

.logo-container {
  margin-top: 15px;
  flex: 0.5;
  display: flex;
  margin-left: -15px;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
  height: 60px;
}

.logo {
  height: 60px;
  object-fit: contain;
}

.logo-text {
  font-size: 30pt;
  color: #fff;
  text-decoration: none;
}

.sidebar-menu {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-size: 12pt;
  color: #fff;
  padding-bottom: 10px;
}

.content-group {
  flex: 2;
}

.settings-group {
  flex: 1;
}

.sidebar-item {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;

  color: #fff;
  text-decoration: none;
  height: 25px;
}

.icon {
  /* flex: 1; */
  z-index: 1;
  width: 25px;
  height: 25px;
  background-size: cover;
}

.text {
  /* flex: 2; */
  padding-left: 15px;
  height: 25px;
}

.inactive {
  display: none;
}

.empty-space {
  flex: 1;
}

.half-empty-space {
  flex: 0.2;
}

.home {
  /* blue */
  filter: invert(37%) sepia(81%) saturate(1207%) hue-rotate(194deg)
    brightness(97%) contrast(91%);
}

.sidebar-item:hover {
  text-decoration: underline;
}

.profile {
  /* nude orange */
  filter: invert(76%) sepia(34%) saturate(1166%) hue-rotate(323deg)
    brightness(97%) contrast(95%);
}

.course {
  background-image: url("../assets/icons/sidebar-icons/alphabet.svg");
  /* purple */
  filter: invert(50%) sepia(72%) saturate(4644%) hue-rotate(230deg)
    brightness(97%) contrast(98%);
}

.podcasts {
  background-image: url("../assets/icons/sidebar-icons/microphone.svg");
  /* acid green */
  filter: invert(39%) sepia(13%) saturate(3083%) hue-rotate(293deg)
    brightness(96%) contrast(95%);
}

.games {
  background-image: url("../assets/icons/sidebar-icons/puzzle.svg");
  /* acid green */
  filter: invert(68%) sepia(46%) saturate(3275%) hue-rotate(92deg)
    brightness(98%) contrast(97%);
}

.videos {
  background-image: url("../assets/icons/sidebar-icons/video-camera.svg");
  /* dark red */
  filter: invert(30%) sepia(81%) saturate(7500%) hue-rotate(355deg)
    brightness(95%) contrast(102%);
}

.exercises {
  background-image: url("../assets/icons/sidebar-icons/artificial-intelligence.svg");
  /* acid pink */
  filter: invert(44%) sepia(43%) saturate(6531%) hue-rotate(270deg)
    brightness(104%) contrast(103%);
}

.language {
  /* purple */
  color: #8163f6;
}

.notifications,
.settings,
.email {
  /* blue */
  color: #f2f2f2;
}
