.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: fixed;
  width: 70px;
  left: 0;
  top: 0;
  height: 100vh;
  background-color: #010f1f;
  overflow: hidden;
  transition: width 0.3s ease;
  cursor: pointer;
  box-shadow: 4px 7px 10px rgba(0, 0, 0, 0.4);
}

.sidebar:hover {
  width: 200px;
}

/* @media screen and (min-width: 600px) {
  width: 80px;
} */

.items {
}

.icon {
  z-index: 1;
  display: inline-block;
  width: 25px;
  height: 25px;
  background-size: cover;
}

.home {
  /* background-image: url("../assets/icons/sidebar-icons/alphabet.svg"); */
  /* blue */
  filter: invert(37%) sepia(81%) saturate(1207%) hue-rotate(194deg)
    brightness(97%) contrast(91%);
}

.profile {
  /* background-image: url("../assets/icons/sidebar-icons/alphabet.svg"); */
  /* nude orange */
  filter: invert(76%) sepia(34%) saturate(1166%) hue-rotate(323deg)
    brightness(97%) contrast(95%);
}

.course {
  background-image: url("../assets/icons/sidebar-icons/alphabet.svg");
  /* purple */
  filter: invert(50%) sepia(72%) saturate(4644%) hue-rotate(230deg)
    brightness(97%) contrast(98%);
}

.podcasts {
  background-image: url("../assets/icons/sidebar-icons/microphone.svg");
  /* acid green */
  filter: invert(39%) sepia(13%) saturate(3083%) hue-rotate(293deg)
    brightness(96%) contrast(95%);
}

.games {
  background-image: url("../assets/icons/sidebar-icons/puzzle.svg");
  /* acid green */
  filter: invert(68%) sepia(46%) saturate(3275%) hue-rotate(92deg)
    brightness(98%) contrast(97%);
}

.videos {
  background-image: url("../assets/icons/sidebar-icons/video-camera.svg");
  /* dark red */
  filter: invert(30%) sepia(81%) saturate(7500%) hue-rotate(355deg)
    brightness(95%) contrast(102%);
}

.exercises {
  background-image: url("../assets/icons/sidebar-icons/artificial-intelligence.svg");
  /* acid pink */
  filter: invert(44%) sepia(43%) saturate(6531%) hue-rotate(270deg)
    brightness(104%) contrast(103%);
}

.language {
  /* purple */
  color: #8163f6;
}

.notifications,
.settings,
.email {
  /* blue */
  color: #f2f2f2;
}
